#snippets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snip {
  width: 85%;
  max-width: 420px;
  border: 1px solid #282c3452;
  border-radius: 5px;
  background-color: #fff;
  margin: 1rem 0;
}

.snip .text {
  padding: 1rem;
  padding-bottom: 0;
}

.snip h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.snip p {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.75);
}

.snip pre code {
  border-radius: 0 0 5px 5px;
}