@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import 'resets.css';
@import 'header.css';
@import 'hero.css';
@import 'snippets.css';

body {
  font-family: 'Montserrat', sans-serif;
  color: #141414;
  background-color: #ebebec;
}

#competitors {
  background-color: aqua;
}